#product_bundle_data_tab {
	position: relative;
}

#product_bundle_data_tab .result-search ul {
	position: absolute;
	z-index: 99;
	background: #fff;
	border: 1px solid #8c8f94;
	border-radius: 4px;
	padding: 10px;
	max-width: 380px;
	width: 100%;
	left: 162px;
	box-sizing: border-box;
}

#product_bundle_data_tab .result-search ul:empty {
	display: none;
}

#product_bundle_data_tab .result-search ul:before {
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	width: 10px;
	height: 10px;
	border-left: 1px solid #8c8f94;
	border-top: 1px solid #8c8f94;
	transform: rotate(45deg) translate(0, -10px);
	background: #fff;
}

#product_bundle_data_tab .result-search ul a {
	color: #000;
}

.selected-products a.title:hover,
#product_bundle_data_tab .result-search ul a:hover {
	color: #135e96;
}

.selected-products a {
	padding: 0;
	color: #000;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.selected-products {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.selected-products > div {
	background: #f1f1f1;
	padding: 15px;
}

.add_product.selected-product {
	position: relative;
	padding-right: 200px;
}

.add_product.selected-product .remove-button {
	position: absolute;
	right: 0;
	top: 0;
}

.add_product.selected-product .product-price {
	position: absolute;
	top: 0;
	right: 35px;
}

.add_product.selected-product .remove-button:hover {
	color: #f00;
}

#product_bundle_data_tab .preload {
	display: none;
}

#product_bundle_data_tab .preload img {
	width: 35px;
	height: auto;
}
